releases:
  - name: data-api-sampler
    namespace: sample-services
    createNamespace: true
    chart: ../data-api-sampler
    values:
      - arch: {{ .StateValues.arch | default "arm64" }}
      - image:
          repository: {{ requiredEnv "IMAGE_REPO" }}/data-api-sampler
          tag: 'latest'
        dataApi:
          url: {{ requiredEnv "DATA_API_URL" }}
